#==================================================
# Blacklist (Last match has precedence)

# exclude test cruft in the root (except whitelist below)
/*.py
/*.ahk
# exclude the Windows symlink?
#/crispy

# cruft anywhere
*OLD
*OLD.*
*SAV
*SAV.*
# Python caches anywhere
__pycache__/
*.py[cod]
*$py.class

#==================================================
# /build - exclude all FreePIE build dirs
/build/FreePIE/FreePIE*/

# Exclude builds, tools, dev notes, downloads
/INSTALL/FreePIE/
/Utils
/dev
/Lib/pylib/TODO/
/PKG/*
/build/FreePIE/PKG/

#==================================================
# Whitelist

# for empty directories:
!.gitkeep

# Explicitly include our main files:
!/main.py
!/main.ahk
!/config.ahk
!/README.md
!/CHANGELOG.md
!/VERSION.txt
!/.gitignore
!/Games/
!/Lib/
!/INSTALL/
!/build/
